<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.togi.ggock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ZZimActivity"
            android:label="@string/title_activity_zzim" />
        <activity
            android:name=".ui.MyPageNoAuthActivity"
            android:label="@string/title_activity_my_page" />
        <activity
            android:name=".ui.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.CardNewsActivity"
            android:label="@string/title_activity_card_news"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.JoinActivity" />
        <activity
            android:name=".ui.FranceActivity"
            android:label="@string/title_activity_france"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>