<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.togi.ggock">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".util.KakaoApplication"
        android:allowBackup="true"
        android:icon="@drawable/le"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<application-->
            <!--android:name=".util.KakaoApplication"-->
            <!--android:allowBackup="true"-->
            <!--android:icon="@drawable/ic_launcher">-->
        <!--</application>-->

        <!--<activity-->
            <!--android:name="com.facebook.FacebookActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait"/>-->
        <!--<activity-->
            <!--android:name="com.facebook.CustomTabActivity"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="@string/fb_login_protocol_scheme" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--스플래시-->
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ZZimActivity"
            android:label="@string/title_activity_zzim" />
        <activity
            android:name=".ui.MyPageNoAuthActivity"
            android:label="@string/title_activity_my_page" />
        <activity
            android:name=".ui.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.CardNewsActivity"
            android:label="@string/title_activity_card_news"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.JoinActivity" />

        <activity
            android:name=".ui.ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.MyPageAuthActivity"
            android:theme="@style/AppTheme" />

        <!-- kakao -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>